@page "/StdForm"
@using GreyWAS.Shared
@inject HttpClient Http

<h3>Here is Student Form</h3>

<EditForm Model="@student" OnValidSubmit="@HandleOnSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>


    <label>
        Enter Student Id :
        <InputNumber @bind-Value="student.Id" />
    </label>
    <br>
     <label>
        Enter Student Name :
        <InputText @bind-Value="student.Name" />
    </label>
    <br>
     <label>
        Enter Student Marks :
        <InputNumber @bind-Value="student.Totalmarks" />
    </label>
    <br>
    <button type="submit" >Submit</button>



</EditForm>



@*<GreySectionComp.Components.StudentComp student="@student" />
*@


@code {

    Student student = new Student()
    {
        Totalmarks=0
    };

    void HandleOnSubmit()
    {
        //Process form data
          var res=await Http.PostAsJsonAsync<Student>("api/Students",student);
            res.StatusCode=200
    
    
    }


}
